In [2]:
import pandas as pd
df3 = pd.read_csv('idtb_04_bioactivity_data_3class_pIC50.csv')
df3

,Unnamed: 0,molecule_chembl_id,canonical_smiles,class,MW,LogP,NumHDonors,NumHAcceptors,pIC50
0,0,CHEMBL4103560,O=C(NCCO)c1cnn2c(O)cc(-c3ccccc3)nc12,inactive,298.302,0.8240,3.0,6.0,4.721246
1,1,CHEMBL4085628,CNC(=O)c1cnn2c(O)cc(-c3ccccc3)nc12,inactive,268.276,1.4615,2.0,5.0,4.161151
2,2,CHEMBL577784,O=C(NCCCNc1nc(Nc2cccc(NC(=O)N3CCCC3)c2)ncc1I)c...,active,591.479,4.7460,4.0,7.0,7.221849
3,3,CHEMBL4096573,O=C(N[C@H]1CCCC[C@H]1C(=O)O)c1cnn2c(O)cc(-c3cc...,intermediate,380.404,2.4751,3.0,6.0,5.309804
4,4,CHEMBL4084664,C[C@@H](CO)NC(=O)c1cnn2c(O)cc(-c3ccccc3)nc12,inactive,312.329,1.2125,3.0,6.0,4.756962
...,...,...,...,...,...,...,...,...,...
369,369,CHEMBL5203275,O=C1N=C(N2CCCCC2)S/C1=C1/C(=O)Nc2ccccc21,active,313.382,2.4651,1.0,4.0,7.522879
370,370,CHEMBL5205793,O=C(Nc1ccc(Cl)cn1)c1[nH]ncc1[N+](=O)[O-],intermediate,267.632,1.6186,2.0,5.0,5.681937
371,371,CHEMBL5179510,COCC(=O)N1CCc2[nH]c3c(Cl)cc(Cl)cc3c2C1,intermediate,313.184,3.0058,1.0,2.0,5.982967
372,372,CHEMBL5174318,Cn1cc(-c2cc(Cl)c(Cl)c3[nH]c4c(c23)CN(C(=O)CO)C...,active,379.247,2.7522,2.0,4.0,7.853872
373,373,CHEMBL1535,CCN(CCO)CCCC(C)Nc1ccnc2cc(Cl)ccc12,inactive,335.879,3.7830,2.0,4.0,4.638272

In [3]:
selection = ['canonical_smiles','molecule_chembl_id']
df3_selection = df3[selection]
df3_selection.to_csv('molecule.smi', sep='\t', index=False, header=False)

In [4]:
with open('molecule.smi', 'r') as file:
    for i, line in enumerate(file):
        if i >= 5:
            break
        print(line.strip())

O=C(NCCO)c1cnn2c(O)cc(-c3ccccc3)nc12	CHEMBL4103560
CNC(=O)c1cnn2c(O)cc(-c3ccccc3)nc12	CHEMBL4085628
O=C(NCCCNc1nc(Nc2cccc(NC(=O)N3CCCC3)c2)ncc1I)c1cccs1	CHEMBL577784
O=C(N[C@H]1CCCC[C@H]1C(=O)O)c1cnn2c(O)cc(-c3ccccc3)nc12	CHEMBL4096573
C[C@@H](CO)NC(=O)c1cnn2c(O)cc(-c3ccccc3)nc12	CHEMBL4084664

In [5]:
! type padel.sh

java -Xms1G -Xmx1G -Djava.awt.headless=true -jar ./PaDEL-Descriptor/PaDEL-Descriptor.jar -removesalt -standardizenitro -fingerprints -descriptortypes ./PaDEL-Descriptor/PubchemFingerprinter.xml -dir ./ -file descriptors_output.csv

In [6]:
! more padel.sh

java -Xms1G -Xmx1G -Djava.awt.headless=true -jar ./PaDEL-Descriptor/PaDEL-Descriptor.jar -removesalt -standardizenitro -fingerprints -descriptortypes ./PaDEL-Descriptor/PubchemFingerprinter.xml -dir ./ -file descriptors_output.csv

In [7]:
   import os
   os.system("padel.sh")

0

In [11]:
df3_X = pd.read_csv('mordred_descriptors.csv')
df3_X

,ID,ABC,ABCGG,nAcid,nBase,SpAbs_A,SpMax_A,SpDiam_A,SpAD_A,SpMAD_A,...,SRW10,TSRW10,MW,AMW,WPath,WPol,Zagreb1,Zagreb2,mZagreb1,mZagreb2
0,CHEMBL4103560,module 'numpy' has no attribute 'float' (ABC),module 'numpy' has no attribute 'float' (ABCGG...,0,0,28.895676,2.487585,4.886232,28.895676,1.313440,...,9.996021,70.113048,298.106590,8.280739,1057,34,114.0,135.0,6.777778,4.972222
1,CHEMBL4085628,module 'numpy' has no attribute 'float' (ABC),module 'numpy' has no attribute 'float' (ABCGG...,0,0,26.386302,2.486496,4.884242,26.386302,1.319315,...,9.968104,67.845085,268.096026,8.378001,778,32,106.0,127.0,6.277778,4.472222
2,CHEMBL577784,module 'numpy' has no attribute 'float' (ABC),module 'numpy' has no attribute 'float' (ABCGG...,0,0,44.199339,2.343889,4.682750,44.199339,1.299981,...,10.171413,84.900606,591.091342,9.851522,4403,45,172.0,196.0,9.500000,7.583333
3,CHEMBL4096573,module 'numpy' has no attribute 'float' (ABC),module 'numpy' has no attribute 'float' (ABCGG...,1,0,36.494018,2.492749,4.899068,36.494018,1.303358,...,10.304710,77.553909,380.148455,7.919759,2061,46,150.0,179.0,8.611111,6.111111
4,CHEMBL4084664,module 'numpy' has no attribute 'float' (ABC),module 'numpy' has no attribute 'float' (ABCGG...,0,0,29.773183,2.489223,4.889374,29.773183,1.294486,...,10.047631,71.374322,312.122240,8.003134,1191,36,120.0,142.0,7.638889,5.138889
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,CHEMBL5203275,module 'numpy' has no attribute 'float' (ABC),module 'numpy' has no attribute 'float' (ABCGG...,0,2,29.446094,2.517905,4.834880,29.446094,1.338459,...,10.114599,72.719477,313.088498,8.461851,1015,35,122.0,148.0,5.888889,4.750000
370,CHEMBL5205793,module 'numpy' has no attribute 'float' (ABC),module 'numpy' has no attribute 'float' (ABCGG...,0,0,22.579004,2.372234,4.661636,22.579004,1.254389,...,9.602990,64.269341,267.015917,11.125663,641,24,90.0,103.0,6.666667,4.000000
371,CHEMBL5179510,module 'numpy' has no attribute 'float' (ABC),module 'numpy' has no attribute 'float' (ABCGG...,0,0,25.564313,2.521946,4.892582,25.564313,1.278216,...,10.044336,68.358647,312.043233,9.177742,784,33,108.0,130.0,6.888889,4.388889
372,CHEMBL5174318,module 'numpy' has no attribute 'float' (ABC),module 'numpy' has no attribute 'float' (ABCGG...,0,0,32.806308,2.571616,5.014564,32.806308,1.312252,...,10.355104,76.442324,378.065031,9.221098,1362,44,140.0,172.0,8.472222,5.388889
373,CHEMBL1535,module 'numpy' has no attribute 'float' (ABC),module 'numpy' has no attribute 'float' (ABCGG...,0,1,28.847999,2.397613,4.795225,28.847999,1.254261,...,9.793059,56.625976,335.176440,6.840336,1390,32,110.0,124.0,7.916667,5.388889

In [15]:
# Delete the Name columns because we want only the molecular features
# df3_X = df3_X.drop(columns=['Name'])
# df3_X

# df4_X = df3_X.iloc[: , 1:]
# df4_X
df3_X = df3_X.drop(columns=['ID'])
df3_X

,ABC,ABCGG,nAcid,nBase,SpAbs_A,SpMax_A,SpDiam_A,SpAD_A,SpMAD_A,LogEE_A,...,SRW10,TSRW10,MW,AMW,WPath,WPol,Zagreb1,Zagreb2,mZagreb1,mZagreb2
0,module 'numpy' has no attribute 'float' (ABC),module 'numpy' has no attribute 'float' (ABCGG...,0,0,28.895676,2.487585,4.886232,28.895676,1.313440,4.022828,...,9.996021,70.113048,298.106590,8.280739,1057,34,114.0,135.0,6.777778,4.972222
1,module 'numpy' has no attribute 'float' (ABC),module 'numpy' has no attribute 'float' (ABCGG...,0,0,26.386302,2.486496,4.884242,26.386302,1.319315,3.937680,...,9.968104,67.845085,268.096026,8.378001,778,32,106.0,127.0,6.277778,4.472222
2,module 'numpy' has no attribute 'float' (ABC),module 'numpy' has no attribute 'float' (ABCGG...,0,0,44.199339,2.343889,4.682750,44.199339,1.299981,4.445065,...,10.171413,84.900606,591.091342,9.851522,4403,45,172.0,196.0,9.500000,7.583333
3,module 'numpy' has no attribute 'float' (ABC),module 'numpy' has no attribute 'float' (ABCGG...,1,0,36.494018,2.492749,4.899068,36.494018,1.303358,4.272616,...,10.304710,77.553909,380.148455,7.919759,2061,46,150.0,179.0,8.611111,6.111111
4,module 'numpy' has no attribute 'float' (ABC),module 'numpy' has no attribute 'float' (ABCGG...,0,0,29.773183,2.489223,4.889374,29.773183,1.294486,4.066481,...,10.047631,71.374322,312.122240,8.003134,1191,36,120.0,142.0,7.638889,5.138889
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,module 'numpy' has no attribute 'float' (ABC),module 'numpy' has no attribute 'float' (ABCGG...,0,2,29.446094,2.517905,4.834880,29.446094,1.338459,4.055019,...,10.114599,72.719477,313.088498,8.461851,1015,35,122.0,148.0,5.888889,4.750000
370,module 'numpy' has no attribute 'float' (ABC),module 'numpy' has no attribute 'float' (ABCGG...,0,0,22.579004,2.372234,4.661636,22.579004,1.254389,3.805979,...,9.602990,64.269341,267.015917,11.125663,641,24,90.0,103.0,6.666667,4.000000
371,module 'numpy' has no attribute 'float' (ABC),module 'numpy' has no attribute 'float' (ABCGG...,0,0,25.564313,2.521946,4.892582,25.564313,1.278216,3.941919,...,10.044336,68.358647,312.043233,9.177742,784,33,108.0,130.0,6.888889,4.388889
372,module 'numpy' has no attribute 'float' (ABC),module 'numpy' has no attribute 'float' (ABCGG...,0,0,32.806308,2.571616,5.014564,32.806308,1.312252,4.177364,...,10.355104,76.442324,378.065031,9.221098,1362,44,140.0,172.0,8.472222,5.388889
373,module 'numpy' has no attribute 'float' (ABC),module 'numpy' has no attribute 'float' (ABCGG...,0,1,28.847999,2.397613,4.795225,28.847999,1.254261,4.030573,...,9.793059,56.625976,335.176440,6.840336,1390,32,110.0,124.0,7.916667,5.388889

In [19]:
df3_Y=df3['pIC50']
df3_Y

0      4.721246
1      4.161151
2      7.221849
3      5.309804
4      4.756962
         ...
369    7.522879
370    5.681937
371    5.982967
372    7.853872
373    4.638272
Name: pIC50, Length: 374, dtype: float64

In [21]:
df4 = pd.concat([df3_X, df3_Y], axis=1)
df4

,ABC,ABCGG,nAcid,nBase,SpAbs_A,SpMax_A,SpDiam_A,SpAD_A,SpMAD_A,LogEE_A,...,TSRW10,MW,AMW,WPath,WPol,Zagreb1,Zagreb2,mZagreb1,mZagreb2,pIC50
0,module 'numpy' has no attribute 'float' (ABC),module 'numpy' has no attribute 'float' (ABCGG...,0,0,28.895676,2.487585,4.886232,28.895676,1.313440,4.022828,...,70.113048,298.106590,8.280739,1057,34,114.0,135.0,6.777778,4.972222,4.721246
1,module 'numpy' has no attribute 'float' (ABC),module 'numpy' has no attribute 'float' (ABCGG...,0,0,26.386302,2.486496,4.884242,26.386302,1.319315,3.937680,...,67.845085,268.096026,8.378001,778,32,106.0,127.0,6.277778,4.472222,4.161151
2,module 'numpy' has no attribute 'float' (ABC),module 'numpy' has no attribute 'float' (ABCGG...,0,0,44.199339,2.343889,4.682750,44.199339,1.299981,4.445065,...,84.900606,591.091342,9.851522,4403,45,172.0,196.0,9.500000,7.583333,7.221849
3,module 'numpy' has no attribute 'float' (ABC),module 'numpy' has no attribute 'float' (ABCGG...,1,0,36.494018,2.492749,4.899068,36.494018,1.303358,4.272616,...,77.553909,380.148455,7.919759,2061,46,150.0,179.0,8.611111,6.111111,5.309804
4,module 'numpy' has no attribute 'float' (ABC),module 'numpy' has no attribute 'float' (ABCGG...,0,0,29.773183,2.489223,4.889374,29.773183,1.294486,4.066481,...,71.374322,312.122240,8.003134,1191,36,120.0,142.0,7.638889,5.138889,4.756962
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,module 'numpy' has no attribute 'float' (ABC),module 'numpy' has no attribute 'float' (ABCGG...,0,2,29.446094,2.517905,4.834880,29.446094,1.338459,4.055019,...,72.719477,313.088498,8.461851,1015,35,122.0,148.0,5.888889,4.750000,7.522879
370,module 'numpy' has no attribute 'float' (ABC),module 'numpy' has no attribute 'float' (ABCGG...,0,0,22.579004,2.372234,4.661636,22.579004,1.254389,3.805979,...,64.269341,267.015917,11.125663,641,24,90.0,103.0,6.666667,4.000000,5.681937
371,module 'numpy' has no attribute 'float' (ABC),module 'numpy' has no attribute 'float' (ABCGG...,0,0,25.564313,2.521946,4.892582,25.564313,1.278216,3.941919,...,68.358647,312.043233,9.177742,784,33,108.0,130.0,6.888889,4.388889,5.982967
372,module 'numpy' has no attribute 'float' (ABC),module 'numpy' has no attribute 'float' (ABCGG...,0,0,32.806308,2.571616,5.014564,32.806308,1.312252,4.177364,...,76.442324,378.065031,9.221098,1362,44,140.0,172.0,8.472222,5.388889,7.853872
373,module 'numpy' has no attribute 'float' (ABC),module 'numpy' has no attribute 'float' (ABCGG...,0,1,28.847999,2.397613,4.795225,28.847999,1.254261,4.030573,...,56.625976,335.176440,6.840336,1390,32,110.0,124.0,7.916667,5.388889,4.638272

In [24]:
df4.to_csv('descriptor_pIC50_values.csv', index=False)